.thumbnail img {
    width: 100%;
    
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


.navbar {
    background: #1bb76e;
}

#home, #navigation li a {
    color: white;
}

.delete-form {
    display: inline;
}